.App {
	text-align: center;
}

.Header,
.Body,
.Footer {
	border: 20px;
	margin: 20px;
	padding: 10px;
}

.Header {
	border: 0.5px;
	border-style: solid;
	border-radius: 5px;
	border-color: rgb(221, 221, 221);
	margin-left: 700px;
	margin-right: 700px;
}

.Title {
	text-transform: uppercase;
	font-weight: 800;
}

#map {
	height: 1250px;
}

.leaflet-container {
	border: 200px;
	width: 100%;
	height: 50%;
}

.sliders {
	justify-content: center;
}

.dataTable {
	width: 52%;
	height: 300px;
	justify-content: center;
	text-align: center;
	display: block;
	margin: auto;
}

.instructions {
	text-align: left;
}
